:root {
  --background: #c9c4c4;
  --foreground: #171717;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* evita el scroll */
}

#__next {
  height: 100%;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  padding: 10px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.mui-file-input {
  display: none;
}

.mui-file-label {
  display: inline-block;
  padding: 10px 24px;
  width: 100%;
  background-color: #1976d2;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.mui-file-label:hover {
  background-color: #1565c0;
}

.mui-file-label:active {
  background-color: #0d47a1;
}

.app-container {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .layout-content {
    flex-direction: column;
  }

  .layout-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
    order: 1; /* Sidebar arriba en móviles */
  }
  
  .layout-main {
    order: 2; /* Main abajo en móviles */
  }
}

.btn-nuevo {
  width: 100%;
  background-color: #4367b9;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-nuevo:hover {
  background-color: #1b2f5e;
}

.loan-aging-wrapper {
  min-width: 100%;
  flex-grow: 1;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
}

/* Estilo para el botón en el main */
.main-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-nuevo {
  padding: 10px 16px;
  background-color: #258514;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start; /* Para que no ocupe todo el ancho */
}

.btn-nuevo:hover {
  background-color: #15c040;
}
