.layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.layout-header {
  background-color: #1976d2;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.layout-title {
  margin: 0;
  font-size: 1.5rem;
}

.layout-toolbar {
  display: flex;
  justify-content: space-between;
}

.layout-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.layout-user span {
  font-size: 0.95rem;
}

.layout-user button {
  background: red;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.layout-user button:hover {
  background-color: rgb(139, 14, 14);
}

.layout-content {
  flex: 1;
  display: flex;
  overflow: auto; /* Permite scroll dentro del contenido */
}

.layout-main {
  flex: 1;
  padding: 1rem;
  background-color: #37393a;
  overflow-y: auto;
}

.layout-sidebar {
  width: 250px;
  padding: 0.5rem;
  background-color: #000000;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  flex-shrink: 0;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .layout-content {
    flex-direction: column;
  }

  .layout-main,
  .layout-sidebar {
    width: 100%;
  }
}

/* Estilo para el contenedor flotante */
.floating-upload-container {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la parte derecha */
  background-color: white;
  border: 2px solid #3f51b5;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-upload-button {
  position: fixed;
  bottom: 80px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la parte derecha */
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.floating-upload-button:hover {
  background-color: #303f9f;
}
